<div class="px-4 mb-3">
  @switch (this.currentStep.id) {
    @case (LOCATION) {
      <h1>Where do you want to go?</h1>
      <app-location-map [location]="newSearch.location"
                        [placeholder]="'Choose your country'"
                        (locationChange)="onNewLocation($event)"></app-location-map>
    }
    @case (DATES) {
      <h1>When do you want to go?</h1>
      <app-search-date [dates]="newSearch.dates"
                       (datesChange)="onNewDate($event)"
                       (stepValidityChange)="onValidityChange($event)">
      </app-search-date>
    }
    @case (GUESTS) {
      <h1 class="mb-1">What are you looking for?</h1>
      <h2 class="mt-0">Number of beds, guests, etc.</h2>
      <app-info-step [infos]="newSearch.infos"
                     (infoChange)="onInfoChange($event)"
                     (stepValidityChange)="onValidityChange($event)"></app-info-step>
    }
  }
</div>
<app-footer-step [currentStep]="currentStep"
                 [isAllStepsValid]="isAllStepsValid()"
                 [loading]="loadingSearch"
                 (finish)="search()"
                 (next)="nextStep()"
                 (previous)="previousStep()"></app-footer-step>
