<app-info-step-control [title]="'Guests'" [value]="infos().guests.value"
                       (valueChange)="onInfoChange($event, 'GUESTS')">
</app-info-step-control>
<app-info-step-control [title]="'Bedrooms'" [value]="infos().bedrooms.value"
                       (valueChange)="onInfoChange($event, 'BEDROOMS')">
</app-info-step-control>
<app-info-step-control [title]="'Beds'" [value]="infos().beds.value"
                       (valueChange)="onInfoChange($event, 'BEDS')">
</app-info-step-control>
<app-info-step-control [title]="'Bathrooms'" [value]="infos().baths.value"
                       (valueChange)="onInfoChange($event, 'BATHS')">
</app-info-step-control>
