<div class="mb-3">
  <h1 class="mb-1">Now, let's give your house a title and description</h1>
  <h2 class="mt-0">Short titles work best. Have fun with it you can change it anytime</h2>

  <form #formDescription="ngForm" novalidate class="w-full">
    <input #titleInput="ngModel" name="title" placeholder="Title" required
           class="w-full p-inputtext-lg" type="text" pInputText
           [ngModel]="description().title.value" (ngModelChange)="onTitleChange($event)"/>
    @if (titleInput.dirty && titleInput.invalid) {
      <small id="title-required" class="text-primary">Title is required</small>
    } @else {
      <div class="placeholder-validation"></div>
    }

    <textarea #descriptionInput="ngModel" name="description"
              class="w-full mt-2" required placeholder="Summary" rows="5" cols="30"
              pInputTextarea [ngModel]="description().description.value"
              (ngModelChange)="onDescriptionChange($event)"></textarea>
    @if (descriptionInput.dirty && descriptionInput.invalid) {
      <small id="description-required" class="text-primary">Description is required</small>
    } @else {
      <div class="placeholder-validation"></div>
    }
  </form>
</div>
