@import "assets/scss/airbnb-fonts";
@import "assets/scss/airbnb-variables";
@import "assets/scss/lara-light/blue/theme";
@import "primeng/resources/primeng";
@import "primeflex/primeflex";

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
  .p-dialog {
    border-radius: 0 0 $dialogBorderRadius $dialogBorderRadius;
  }

  .p-dialog-header {
    border-radius: $dialogBorderRadius $dialogBorderRadius 0 0;
    padding: 24px
  }

  .p-dialog-content {
    border-radius: 0 0 $dialogBorderRadius $dialogBorderRadius;
    padding: 0;
  }

  .p-button:focus {
    box-shadow: none;
  }

  .p-button-link {
    border-radius: 1.5rem;
    font-weight: bold;
  }

  .p-button-link:hover {
    background-color: var(--gray-100);
  }

  .p-button-link:focus {
    box-shadow: none;
  }

  .p-inputtext:enabled:focus {
    box-shadow: none;
  }

  .p-input-icon-left > i {
    top: 46%;
  }

  .p-datepicker .p-highlight {
    color: $white;
    background-color: $black;
  }

  .p-datepicker .p-disabled {
    text-decoration: line-through;
  }

  .p-menu {
    top: 70px!important;
  }
}

:root {
  font-family: $fontFamily !important;
  font-variation-settings: normal !important;
  --font-family: $fontFamily !important;
}

.text-dark {
  color: $dark;
}

body {
  margin: 0;
  color: $textColor
}

h1 {
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.125rem;
  font-weight: 300;
}

.listing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 25px;
}
