.search-icon {
  width: 15px;
  height: 30px;
  border-radius: 70px;
  padding: 15px;
}

.guest-btn {
  padding: 5px 10px !important;
}

.separator {
  height: 23px;
}

.middle-group {
  height: 50px;
}

.menu {
  width: 90px;
  height: 50px;
}

.search {
  width: 380px;
}
